.navbar ul li a {
    font-weight: 600;
}

.carousel img {
    height: 850px;
    object-fit: cover;
    filter: brightness(40%);
}

.courses-section .grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
}

.courses-section .grid .main .content strong {
    color: #0DCAF0;
}

.courses-section .heading {
    max-width: 430px;
    margin: 0 auto;
}

.explore-section .row.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.successfull .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.successfull .responsive-btn {
    display: block !important;
}



.footer .social ul li {
    background-color: #0DCAF0;
    border: 2px solid #0DCAF0;
    height: 50px;
    width: 50px;
    margin-right: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 3px;
    transition: .4s;
    cursor: pointer;
}

.footer .social ul li:hover {
    background-color: transparent;
    border: 2px solid #0DCAF0;
}

.footer .social ul li:hover i {
    color: #0DCAF0 !important;
}

.footer .social ul li:last-child {
    margin-right: 0;
}

.footer .social ul li i {
    font-size: 30px;
    line-height: 30px;
    transition: .4s;
}








@media screen and (min-device-width: 320px) and (max-device-width: 989px) {
    .container {
        padding: 0 30px !important;
    }

    .navbar-collapse ul li {
        margin: 0 auto;
    }

    .navbar-collapse .d-flex {
        justify-content: center;
    }

    .courses-section .grid {
        grid-template-columns: 1fr;
    }

    .explore-section .row.main {
        display: grid;
        grid-template-columns: 1fr;
    }

    .ready-to-section .main {
        display: block !important;
    }

    .ready-to-section .main .col-6 {
        width: 100% !important;
        text-align: center;
        justify-content: center !important;
    }

    .ready-to-section .main .col-6 .button {
        margin-top: 30px;
    }

    .ready-to-section .container {
        padding: 50px 70px !important;
    }

    .successfull .row {
        grid-template-columns: 1fr 1fr;
    }

    .successfull .responsive-btn {
        display: none !important;
    }

    .brand-name {
        display: none;
    }


}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {


    .courses-section .grid .main {
        display: block !important;
    }

    .courses-section .grid .main .col-4,
    .courses-section .grid .main .col-8 {
        width: 100%;
    }

    .explore-section .row.main {
        display: block;
    }

    .explore-section .row .col-6 {
        width: 100%;
    }

    .successfull .row {
        grid-template-columns: 1fr;
    }

    .successfull .text-box {
        max-width: 400px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .successfull .responsive-btn {
        display: block !important;
        text-align: center;
    }
}